
.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.main {
    display: flex;
}

.leftmidori {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

.right {
    width: 250px;
    height: 250px;
}

.mannakanoue {
    display: flex;
}

.mannaka {
    width: 150px;
    height: 150px;
}

.kiiro {
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}
.ao {
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}
.orenji {
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
}
.chairo {
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}
.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}