@media screen and (max-width: 767px) {
    
    .header {
        width: 300px;
    }
    
    
    .leftmidori {
        width: 100px;
    }
    
    .right {
        width: 200px;
    }
    
    .mannaka {
        width: 125px;
    }
    
    .kiiro {
        width: 125px;
    }
    .ao {
        width: 125px;
    }
    .orenji {
        width: 75px;
    }
    .chairo {
        width: 200px;
    }
    .footer {
        width: 300px;
    }
    
}
}
